@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Tus estilos globales adicionales */
html {
  scroll-behavior: smooth;
}

body {
  @apply transition-colors duration-300 antialiased;
}